In [3]:
# 90+ >>> A*
# 80+>>>A
# 70+>>>B
# 60+>>>c
# 50+D
# fail

123.236

In [12]:
maths = int(input("Enter marks obtained in mathematics:  ")) 

eng = int(input("Enter marks obtained in english:  "))
urdu = int(input("Enter marks obtained in urdu:  "))
ai = int(input("Enter marks obtained in artificial intelligence:  "))
sci = int(input("Enter marks obtained in science:  "))
total  = 500
obtainedMarks  = maths + eng + urdu + ai + sci

per = obtainedMarks / total * 100
grade = ""
if per >= 90:
    grade = "A*"
elif per >= 80:
    grade = "A"
elif per >= 70:
    grade = "B"
elif per >= 60:
    grade = "C"
elif per >= 50:
    grade = "D"
else: 
    grade = "Ungraded"
print("Your total marks are: "+ str(obtainedMarks))
print("Your percentage is: "+ str(per))
print("Your grade is:" + grade)

Enter marks obtained in mathematics:   5
Enter marks obtained in english:   5
Enter marks obtained in urdu:   5
Enter marks obtained in artificial intelligence:   5
Enter marks obtained in science:   5

Your total marks are: 25
Your percentage is: 5.0
Your grade is:Ungraded

In [10]:
if 10!=100 :
    print("HEllo")

HEllo

In [17]:
# and all must be true (multiply)
# or one must be true (addition)
a = "pakistan"
if 10==10 and a!=a:
    print("yuppp")

In [19]:
if 10==100 or a!=a :
    print("yuppp")

List

In [26]:
name = input()
if name.lower() == "pakistan":
    print("OK")

 PAKISTAN

OK

In [22]:
print(name.lower())

pakistan

In [32]:
print(name.title())

AttributeError: 'tuple' object has no attribute 'title'

In [33]:
cities = ["karachi", "multan", "lahore", "quetta"]

In [34]:
cities

['karachi', 'multan', 'lahore', 'quetta']

In [35]:
cities[0]

'karachi'

In [38]:
cities[1]

'multan'

In [37]:
len(cities)

4

In [39]:
myList = ["asad", 100, True]

list

In [42]:
cities.append("Hyderabad")

In [43]:
cities

['karachi', 'multan', 'lahore', 'quetta', 'Hyderabad']

In [44]:
cities.insert(2, "NY")

In [45]:
cities

['karachi', 'multan', 'NY', 'lahore', 'quetta', 'Hyderabad']

In [46]:
del cities[2]

In [47]:
cities

['karachi', 'multan', 'lahore', 'quetta', 'Hyderabad']

In [48]:
cities[0] = "Peshawar"

In [50]:
cities

['Peshawar', 'multan', 'lahore', 'quetta', 'Hyderabad']

In [51]:
cities[-3]

'lahore'

In [52]:
len(cities)

5

In [53]:
cities.insert(45, "HAhahaha")

In [54]:
cities

['Peshawar', 'multan', 'lahore', 'quetta', 'Hyderabad', 'HAhahaha']

In [56]:
cities.index("nasir")

ValueError: 'nasir' is not in list

In [57]:
"nasir" in cities

False

In [58]:
"karachi" in cities

False

In [59]:
if "multan" in cities:
    print()

True

In [60]:
yourList = [1, "a", True, [1,2,3,4,5]]

In [61]:
yourList

[1, 'a', True, [1, 2, 3, 4, 5]]

In [66]:
print(yourList[3][3])

4

In [64]:
yourList.append([45,78,78,])

In [65]:
yourList

[1, 'a', True, [1, 2, 3, 4, 5], [45, 78, 78]]