In [14]:
listSlice = ["a","s",'d','f','g','h','j','changed']
newlist = listSlice     # pass by reference 
anotherList = listSlice.copy() # pass by value
listing = listSlice[:] # pass by value

print(id(listSlice))
print(id(newlist))

140406374772424
140406374772424

In [15]:
newlist

['a', 's', 'd', 'f', 'g', 'h', 'j', 'changed']

In [4]:
anotherList

['a', 's', 'd', 'f', 'g', 'h', 'j']

In [8]:
listing

['a', 's', 'd', 'f', 'g', 'h', 'j']

In [16]:
alist= [1,2,3,4,5,6,7,8,9]
    #  [0,1,2,3,4,5,6,7,8]
    
#slice[start:end] endoing index excluded

In [30]:
alist[3:5]

[4, 5]

In [24]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#[-9,-8,-7,-6,-5,-4,-3,-2,-1]

In [28]:
alist[-5:-1]

[5, 6, 7, 8]

In [29]:
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
alist.insert(-999, "hi")
alist

['hi', 'hi', 1, 2, 3, 4, 'hi', 5, 6, 7, 8, 'hi', 9, 'hi']

In [69]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
a =tasks.pop()
tasks

['email Frank', 'call Sarah']

In [70]:
a =tasks.pop()

In [107]:
tasks

[]

In [52]:
poppedValue = tasks.pop(1)
poppedValue

'call Sarah'

In [95]:
tasks = [1,2,3,4]

In [96]:
tasksaccomplished = []

In [105]:

tasksaccomplished.insert(1,tasks.pop())

IndexError: pop from empty list

In [104]:
tasksaccomplished

[4, 1, 2, 3]

In [106]:
tasks

[]

In [108]:
tasksaccomplished

[4, 1, 2, 3]

In [110]:
tasksaccomplished.pop(12)

IndexError: pop index out of range

In [124]:
tuple1 = ("pakistan", 'Usa', 'UAE', 11)
student = "nasir", 'hussain', 'ali'

In [125]:
type(student)

tuple

In [129]:
a,b,c,f = student

ValueError: not enough values to unpack (expected 4, got 3)

In [128]:
_

'ali'

In [123]:
b

'hussain'

In [130]:
student

('nasir', 'hussain', 'ali')

In [131]:
student[0]

'nasir'

In [132]:
student[:2]

('nasir', 'hussain')

In [133]:
teacher = student + student

In [134]:
teacher

('nasir', 'hussain', 'ali', 'nasir', 'hussain', 'ali')

In [141]:
a = (1,2,3),(4,5,6),(7,8,9),[2,3,4,5,(6,4)]

In [142]:
a

((1, 2, 3), (4, 5, 6), (7, 8, 9), [2, 3, 4, 5, (6, 4)])

In [143]:
x,y,z,w = a

In [144]:
x

(1, 2, 3)

In [145]:
y

(4, 5, 6)

In [146]:
z

(7, 8, 9)

In [147]:
w

[2, 3, 4, 5, (6, 4)]

In [148]:
w[4]

(6, 4)

In [149]:
w[4][1]

4

In [160]:
# for loop
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [152]:
range(10)

range(0, 10)

In [159]:
for b in range(1,6):
    print(b)

1
2
3
4
5

In [161]:
for num in [33,44,5,66,77,88]:
    print(num)

33
44
5
66
77
88

In [164]:
for character in "pakistan":
    print(character)

p
a
k
i
s
t
a
n

In [166]:
for name in range(10):
    print(name, "Talha bhai")

0 Talha bhai
1 Talha bhai
2 Talha bhai
3 Talha bhai
4 Talha bhai
5 Talha bhai
6 Talha bhai
7 Talha bhai
8 Talha bhai
9 Talha bhai

In [173]:
for evenNum in range(0,11):
    if evenNum%3==0:
        print(evenNum)

0
3
6
9

In [170]:
for evenNum in range(1,10,2):
    print(evenNum)

1
3
5
7
9

In [171]:
count = ['a','s','d','f','g','h']
for index in range(5):
    print(count[index])

a
s
d
f
g

5.1.3. List Comprehensions
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

For example, assume we want to create a list of squares, like:

In [174]:
squares = []
for x in range(10):
    squares.append(x**2)

In [175]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [178]:
[ x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

In [1]:
## Nested for looops####

In [4]:
full_names = []

In [5]:
for a_first_name in first_names:

    for a_last_name in last_names:

        full_names.append(a_first_name + " " +a_last_name)

In [6]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [8]:
for num in range(1,11):
    print(2,"*", num, "=", num*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20