In [29]:
ekList = [3,4,6,5,78,54,67,90,54]

In [30]:

poppedValue = ekList.pop()
poppedValue
ekList

[3, 4, 6, 5, 78, 54, 67, 90]

In [2]:
poppedValue = ekList.pop()
poppedValue

54

In [4]:
slicedList= ekList[2:5]
slicedList

[6, 5, 78]

In [50]:
toDolist = ["dohomework", "call doctor", 'take medicine']
tasksDone=[]

In [54]:
if len(toDolist)!=0:
    status = input("have you done the task?")
    if status=="y": 
        hogayaKam = toDolist.pop()    
        tasksDone.append(hogayaKam)
        print(toDolist)
        print(tasksDone)
else:
    print("There are no tasks in tasks list")

There are no tasks in tasks list

[]
['take medicine', 'call doctor', 'dohomework']

In [55]:
#For Loooooooopsss

In [63]:
for num in range(5):
    print("Nasir Hussain")
print(num)

0 Nasir Hussain
1 Nasir Hussain
2 Nasir Hussain
3 Nasir Hussain
4 Nasir Hussain
4

In [64]:


for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [68]:

name="naSir"
print(name.title())
print(name.upper())
print(name.lower())

Nasir
NASIR
nasir

In [80]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [81]:
for i in "q",'w','e','r','t':
    print(i)

q
w
e
r
t

In [82]:
2**2

4

In [83]:
3**

9

In [92]:
squares=[]
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)
print(sum(squares))
print(max(squares))
print(min(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
385
100
1

In [99]:
for a in "Pakistan", "karachi":
    print(a)

Pakistan
karachi

In [100]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [101]:
[x**2 for x in range(1,11) if x%2==0]

[4, 16, 36, 64, 100]

In [102]:
[2**5]

[32]

In [105]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]