In [1]:
print("HEllo World") # String

HEllo World

In [2]:
print(45) # number (integer)

45

In [3]:
print(45.6)#(float)

45.6

In [8]:
print("123er")

type("12123er123er3er")

123er

str

In [6]:
print("12344")

12344

In [7]:
type("12344")

str

In [9]:
print('qwweerertrtytyu')

qwweerertrtytyu

In [10]:
print("this is ahmed's bag")

this is ahmed's bag

In [16]:
print("hi", 123+5, 45667.8)

hi 128 45667.8

In [24]:
print(12.3,45.6, 567.8,sep= "******")

12.3******45.6******567.8

In [27]:
print("Hello PIAIC",end='\t')
print("HEllo Karachi",end='\t')
print("Hello Pakistan", end="\t")

Hello PIAIC	HEllo Karachi	Hello Pakistan

In [28]:
print(2+5)

7

In [30]:
print(str(2)+"helo")

2helo

In [34]:
print(2+int("100")) # TYPE CASTING
#comments

102

In [43]:
name= "hussain"
age = 15

print("my name is "+ name+ " and my age is "+ str(age))

my name is hussain and my age is 15

In [44]:
print("my name is {1} and my age is {0}".format(name, age))

my name is 15 and my age is hussain

In [45]:
print(f"my name is {name} and my age is {age}")

my name is hussain and my age is 15

In [40]:
name

'nasir'

In [56]:
a= True

In [57]:
type(a)

bool

In [62]:
print("Hello"*4)

HelloHelloHelloHello

In [60]:
print("Hello")

HelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHelloHello

In [74]:
a =10
b=3
c= a/b*b-a
print(c)
round(c,3)

0.0

0.0