In [1]:
myList=[1,2,3,4,5,6,7,8,9]

In [3]:
myList[5]

6

In [4]:
#myList[start:end]
myList[3:5]

[4, 5]

In [5]:
myList[4:14]

[5, 6, 7, 8, 9]

In [6]:
myList[:6]

[1, 2, 3, 4, 5, 6]

In [7]:
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
myList[2:-3]

[3, 4, 5, 6]

In [14]:
myList.remove(8)

In [17]:
myList.insert(4,6)

In [18]:
myList

[1, 2, 3, 4, 6, 5, 6, 7, 9]

In [19]:
myList.remove(6)

In [20]:
myList

[1, 2, 3, 4, 5, 6, 7, 9]

In [26]:
yourList= ['a','r','y','u']
yourList*2

print("nasir"*4)

nasirnasirnasirnasir

In [27]:
newList = myList+yourList

In [28]:
newList

[1, 2, 3, 4, 5, 6, 7, 9, 'a', 'r', 'y', 'u', 'a', 'r', 'y', 'u']

In [31]:
a = [1,2]
b = [5, 555]

In [32]:
c = a+b
c

[1, 2, 5, 555]

In [42]:
value1 = 6
value2 = value1

id(value1)

94780101720768

In [41]:
id(value2)

94780101720768

In [43]:
a

[1, 2]

In [44]:
b

[5, 555]

In [45]:
a = b
a

[5, 555]

In [46]:
b.append(34)

In [48]:
a

[5, 555, 34]

In [50]:
a = c.copy()

In [51]:
a

[1, 2, 5, 555]

In [52]:
c=[]

In [53]:
a

[1, 2, 5, 555]

In [54]:
alist = [34,44,54,64]


blist = alist[:]

In [55]:
blist

[34, 44, 54, 64]

In [ ]:
# Repeat1,
mlist = ['apple', 'oranges']
plist=mlist[:]

del mlist[1]
print(mlist)
plist

In [70]:
names = "pakistan", "india"
x,y = names
name2 = names[1:]

name2

('india',)

In [64]:
names = ("pakistan", "india")

In [78]:
names = "pakistan", "india", 3333,7777
x,y,z,a= names

In [76]:
print(x,y,z,a)

pakistan india 3333 7777

In [73]:
y

'india'

In [107]:
names = "pakistan @ zindaba @ india"

In [108]:
x = names.split("@")
x

['pakistan ', ' zindaba ', ' india']