# Print

In [1]:
print(23)   # int ya float (23,3.4)

23

In [2]:
print("nasir")

nasir

In [4]:
print('w')

w

In [5]:
print(1,2,3,4,5,56,6)

1 2 3 4 5 56 6

In [6]:
print("nasir", "husain", "agha")

nasir husain agha

In [7]:
print(45)
print(67)

45
67

In [13]:
print("this is nasir's book", end="")
print("and i am a student")

this is nasir's bookand i am a student

In [17]:
print(12,34,56, sep="")

12 34 56

# Variables for string

In [18]:
name = "Maaza"

In [20]:
print(name)

Maaza

# vARIAble name legal and ileegal

In [43]:
my name = "nasir"   # no gap

SyntaxError: invalid syntax (<ipython-input-43-1291ea9b621f>, line 1)

In [44]:
1name = "nasir" # not starts with number

SyntaxError: invalid syntax (<ipython-input-44-5a37e96031bf>, line 1)

In [45]:
na$me = "nasir"

SyntaxError: invalid syntax (<ipython-input-45-9751484f70c0>, line 1)

In [46]:
my-student-nasir = "kami"

SyntaxError: can't assign to operator (<ipython-input-46-b663ae227a35>, line 1)

In [ ]:
myStudentName="asad"   # camel casing
my_student_name = "sad"

# varaible for numbers

In [47]:
num1  = 100  # number is int
num2 = 200

num3 = 23.5  # float

num1 + num2 +num3

323.5

In [48]:
val1 = "23"

In [49]:
val2 = 23

In [50]:
val + val2

TypeError: must be str, not int

In [51]:
val2 = val2 + 100

In [52]:
val2

123

# Familiar OperaTORS

In [53]:
2+3

5

In [54]:
4-3

1

In [55]:
3*3

9

In [56]:
3/3   # be default divsion is float

1.0

In [57]:
3//3

1

In [58]:
3.0//3

1.0

# unfamilair operators

In [59]:
#{%, **, >, >=, <, <=, +=, -=}

In [63]:
10%4   # return remainder

2

In [64]:
3**2 # power

9

In [65]:
#Boolean data type (True /False)

In [66]:
ans = True
type(ans)

bool

In [67]:
20>10

True

In [68]:
10>20

False

In [69]:
10>=12

False

In [70]:
20>20

False

In [71]:
20>=20

True

In [75]:
a  = 10
a = a +3

In [109]:
a /=3
a

57.0

In [110]:
23 !=20

True

In [111]:
20==20

True

In [112]:
20 !=20

False

In [115]:
(4*5)**2-23/23

399.0

# Concatenation  text

In [130]:
fname = "Maaz"
lname = "Mustafa"

In [131]:
fname+" " + lname

'Maaz Mustafa'

In [132]:
a= 5

print("i have books:" + str(a))

i have books:5

In [133]:
type(a)

int

# if statements

In [141]:
a= 100
b=200

if b>a:
    print("I will repay your loan")
else: 
    print("I will not repay")

I will repay your loan

In [144]:
result = 72
if result >90:
    print('you got A+')
elif result > 80:
    print('you got A')
elif result > 70:
    print('You got B')
else:
    print('You are failier')

You got B

In [146]:
permission = False
Nic = False
if Nic == True:
    print('You can go')
elif permission == True:
    print('You can go')
else:
    print('You cannot go')

You cannot go

In [150]:
x = input('What is your age :')
print(int(x) + 1)

What is your age :50
51

In [155]:
print('my age is ' + str(25) )

my age is 25

In [153]:
print('hello ' + 'world')

hello world

In [159]:
cnic = input('Do you have cnic')
if cnic == 'y':
    voting_list = input('Voting list me apka nam hai')
    if voting_list == 'y':
        print('You can cast the vote')
    else:
        print('You cannot cast your vote')
else:
    print('Bara ho k a bhai')

Do you have cnicn
Bara ho k a bhai

# List

In [162]:
x  = 17
type(x)

int

In [163]:
name = 'hamza'
type(name)

str

In [3]:
x = True
y = False

In [2]:
names = 'hamza' 'wajahat' 'ali'
names

'hamzawajahatali'

In [4]:
name1 = 'hamza'
name2 = 'ali'

In [5]:
names = ['hamza' , 'ali' , 'wajahat']

In [7]:
type(names)

list

In [16]:
myName = names[2]

In [17]:
print(myName)

wajahat