In [1]:
flag =True

while flag==True:
    print("while loop executing")
    username= input("Enter username:")
    print("User is now: ", username)
    if username == "nasir":
        flag=False

while loop executing
Enter username:asad
User is now:  asad
while loop executing
Enter username:wasaeem
User is now:  wasaeem
while loop executing
Enter username:nasir
User is now:  nasir

In [2]:
country = "Pakistan"

country[0]

'P'

In [3]:
country[-1]

'n'

In [13]:
list1 =["asad","saad","fahad"]
#list1.extend(["nasir", 'kami', 'zoha'])

In [14]:
#list1.extend('123456789')

In [15]:
list1.extend({1:"apple",2:"orange"})
list1

['asad', 'saad', 'fahad', 1, 2]

In [8]:
list1

['asad',
 'saad',
 'fahad',
 'nasir',
 'kami',
 'zoha',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9']

In [9]:
list1.clear()

In [10]:
list1

[]

In [16]:
list2=[1,2,3,4,4,5]

In [17]:
list2.count(4)

2

In [21]:
abc = "hello pakistan nasir hussain"

abc.split(' ')

['hello', 'pakistan', 'nasir', 'hussain']

In [2]:
name ="ali"
print(name)
yourname =input("enter name here: ")
strippedName= yourname.strip()
print(strippedName)
loweredName= strippedName.lower()
print(loweredName)


if name==loweredName:
    print("please come in", loweredName )

ali
enter name here:  Ali
Ali
ali
please come in ali

In [26]:
newName = name.replace("l", "f")
name
newName

'afi'

In [29]:
classes = " python programming fundamentals "

classes

' python programming fundamentals '

In [30]:
classes.lstrip()

'python programming fundamentals '

In [31]:
classes.rstrip()

' python programming fundamentals'

In [32]:
classes.strip()

'python programming fundamentals'

In [13]:
friend = input("Enter your friends name : ")


print("my {}friends{} name is{}".format(78,100,200))

Enter your friends name : asad
my 78friends100 name is200

In [7]:
print("Sammy has {} balloons.".format(5))

Sammy has 5 balloons.

In [12]:
new_open_string = "Sammy loves {} {}."                      #2 {} placeholders
print(new_open_string.format("open-source", "software"))

Sammy loves open-source software.

In [14]:
num=45
name='asad'

print(f"my name is {name} and my number is {num} num")

my name is asad and my number is 45 num

In [16]:
d = {'a':123, 'b':456, 'c':789 }
print(f"my {d['c']}number is {d['a']}")

my 789number is 123

In [25]:
library = [('Author','Topic','Pages'), ('Nasir','DeepLearning', 300), ('Ahmed','Python', 500),('Zia','Kube',300)]
library

[('Author', 'Topic', 'Pages'),
 ('Nasir', 'DeepLearning', 300),
 ('Ahmed', 'Python', 500),
 ('Zia', 'Kube', 300)]

In [26]:
for book in library:
    print(book)

('Author', 'Topic', 'Pages')
('Nasir', 'DeepLearning', 300)
('Ahmed', 'Python', 500)
('Zia', 'Kube', 300)

In [19]:
for book in library:
    print(f"Author is {book[0]}")

Author is Author
Author is Nasir
Author is Ahmed
Author is Zia

In [20]:
for author, topic, pages in library:
    print(f"{author} {topic} {pages}")

Author Topic Pages
Nasir DeepLearning 300
Ahmed Python 500
Zia Kube 300

In [37]:
for author, topic, pages in library:
    print(f"{author:{10}} {topic:{30}} {pages:->{10}}")

Author     Topic                          -----Pages
Nasir      DeepLearning                   -------300
Ahmed      Python                         -------500
Zia        Kube                           -------300

In [27]:
for a in [3,4,5]:
    print(a)

3
4
5

In [43]:
for x in "y":
    print(x)

y

In [47]:
def abc():
    pass

In [48]:
def x():
    return