In [1]:
import pandas as pd

In [2]:
data = pd('AccountFullStatement.CSV')

In [3]:
data

                                <html>
0                               <head>
1           <title>Meezan Bank</title>
2                              </head>
3                               <body>
4  <h3> Requested Page not found </h3>
5                              </body>
6                              </html>