In [4]:
name = ['laiba' , 'umer' , 'rabia' , 'hamza' , 'fatima' , 'ahmed']
print(name)
name.remove('umer')
print(name)

['laiba', 'umer', 'rabia', 'hamza', 'fatima', 'ahmed']
['laiba', 'rabia', 'hamza', 'fatima', 'ahmed']

In [10]:
cars = ['honda' , 'suzuki' , 'audi' , 'rolls royce' , 'mercedes-benz']
print(cars)
too_exp = 'rolls royce'
cars.remove(too_exp)
print(cars)
print('\nA '+ too_exp.title() + ' is to expensive for me')

['honda', 'suzuki', 'audi', 'rolls royce', 'mercedes-benz']
['honda', 'suzuki', 'audi', 'mercedes-benz']

A Rolls Royce is to expensive for me

In [1]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [3]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.upper() + ".")

The last motorcycle I owned was a SUZUKI.

If you could invite anyone, living or deceased, to dinner, who
would you invite? Make a list that includes at least three people you’d like to
invite to dinner. Then use your list to print a message to each person, inviting
them to dinner.

You just found a bigger dinner table, so now more space is
available. Think of three more guests to invite to dinner.

Start your program with you last exercise.

Add a print statement to the end of your program informing people that you found a
bigger dinner table.
•	 Use insert() to add one new guest to the beginning of your list.
•	 Use insert() to add one new guest to the middle of your list.
•	 Use append() to add one new guest to the end of your list.
•	 Print a new set of invitation messages, one for each person in your list.

In [17]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
friends.sort()
print(friends)

['ahmed', 'ahsan', 'ali', 'hamza', 'jahanzaib', 'umer', 'zohiab']

In [16]:
friends = ['zohiab' , 'umer' , 'ali' , 'hamza' , 'jahanzaib' , 'ahmed' , 'ahsan']
friends.sort(reverse=True)
print(friends)

['zohiab', 'umer', 'jahanzaib', 'hamza', 'ali', 'ahsan', 'ahmed']

In [13]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [15]:
len(cars)

4

# Working with list , using for loop:

In [1]:
food = ['Pasta' ,  'Biryani' , 'BBQ']
for foods in food:
    print(foods)

Pasta
Biryani
BBQ

In [3]:
brands = ["levi's" ,  "out fitters" , "polo" , "yellow" , "red trees"]
for brand in brands:
    print("I love to buy my cloths from " + brand.title()+ ".")

I love to buy my cloths from Levi'S.
I love to buy my cloths from Out Fitters.
I love to buy my cloths from Polo.
I love to buy my cloths from Yellow.
I love to buy my cloths from Red Trees.

In [5]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("\tI can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
	I can't wait to see your next trick, Alice.

David, that was a great trick!
	I can't wait to see your next trick, David.

Carolina, that was a great trick!
	I can't wait to see your next trick, Carolina.

In [7]:
magicians = ['tommy', 'chris', 'jordan']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

print("Thank you, everyone. That was a great magic show!")

Tommy, that was a great trick!
I can't wait to see your next trick, Tommy.

Chris, that was a great trick!
I can't wait to see your next trick, Chris.

Jordan, that was a great trick!
I can't wait to see your next trick, Jordan.

Thank you, everyone. That was a great magic show!

In [8]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)

IndentationError: expected an indented block (<ipython-input-8-bc3e0c643e2b>, line 3)

In [10]:
cars = ['audi' , 'rx8' , 'honda']
for car in cars:
    print("I love to drive " + car.title() + ".")
print("\nThese are my favourite cars.")

I love to drive Audi.
I love to drive Rx8.
I love to drive Honda.

These are my favourite cars.

4-1. Pizzas: Think of at least three kinds of your favorite pizza. Store these
pizza names in a list, and then use a for loop to print the name of each pizza.

•	 Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

•	 Add a line at the end of your program, outside the for loop, that states
how much you like pizza. The output should consist of three or more lines
about the kinds of pizza you like and then an additional sentence, such as
I really love pizza!

# Making Numerical Lists

In [11]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [12]:
for a in range(0,11):
    print("Muhammad Ali ")

Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali
Muhammad Ali

In [13]:
numbers = list(range(0,6))
print(numbers)

[0, 1, 2, 3, 4, 5]

In [16]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [19]:
square = []
for value in range(0,11):
    squares = value**2
    square.append(squares)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
square = []
for value in range(0,11):
    squares = value**2
    square.append(squares)
    print(square)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
digits = [1,2,3,4,5,6,7,8,9]
print(min(digits))
print(max(digits))
print(sum(digits))

1
9
45